.home{

    display: flex;
overflow: hidden;
    // .homeContainer{
    //     flex: 10;
    //     background: lightblue;
    // }
    position: sticky;
    top: 0;
    z-index: -1;
}
.chart{
    // position: relative;
    // float: right;
    // border: 1px solid black;
}



